{% extends "index.html" %}

{% block content %}
<section class="section">
    <article class="container">
        <div class="columns is-align-items-center">
            <div class="content column mb-0">
                {{section.content | safe}}
            </div>
            <div class="column">
                <nav class="title is-2">
                    <a href="{{config.base_url}}/part2" rel="next">---&gt;</a>
                </nav>
            </div>
        </div>
        <div class="columns is-multiline is-gapless">
            {% for page in section.pages | reverse %}
                <article class="column is-3-widescreen is-4 card has-text-centered album-cover">
                    <figure class="image is-1by1">
                        <img src="{{page.permalink}}/cover.webp">
                    </figure>
                    <div class="album-meta m-5 is-overlay is-flex-direction-column is-justify-content-center is-align-items-center">
                        <a href="{{page.permalink}}" class="has-text-white">
                            <p class="is-size-7 has-text-weight-normal is-uppercase">
                                {{page.extra.artist}}
                            </p>
                            <h1 class="is-size-5 has-text-weight-bold is-italic">
                                {{page.title}}
                            </h1>
                            <time class="is-size-7 has-text-weight-light" datetime="{{page.date}}">
                                {{page.date}}
                            </time>
                        </a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </article>
</section>
{% endblock content %}
